{{wrap-editor options=options value=demoText}}

{{tinymce-editor options=options value=value}}

{{tinymce-editor options=options value=demoText}}

<div >
  {{{demoText}}}
</div>

<button type="button" name="button" {{action 'toggleMenu'}}>Toggle Menu</button>
{{link-to 'Unbind events?' 'foo'}}
